.card{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
	margin-bottom: 1rem;
}

.card *{
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem
}

.card_image{
	margin: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
}

.card_title{
	font-size: 2rem;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: lightgray;
}

@media only screen and (min-width: 700px){
	.card{
		width: 20rem;
	}
}
